/* Define breakpoints if not already defined */
$on-phone: 600px;
$on-palm: 480px;

/* Project Page */
.ProjectContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
/* Modify the gallery for larger screens (default) */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns by default */
  grid-gap: 2rem;
  margin: 0;
}

.projectTile {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: $projectbox;
  
  @media (prefers-color-scheme: dark) {
    background: $projectbox-dark;
  }
  
  &:hover {
    transform: translateY(-10px);
  }
}

.projectTile a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.projectImage {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.projectInfo {
  padding: 15px;
  color: $light-gray;
  background-color: #f9f9f9; // Adjust this if you have a variable for this color
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: $projectbox-text;
  }
  
  p {
    font-size: 1rem;
  }
}

/* Media query for phone-sized screens */
@media screen and (max-width: $on-phone) {
  .gallery {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }

  .projectImage {
    height: auto; /* Adjust height for phone-sized screens */
    padding-top: 56.25%; /* 16:9 aspect ratio, adjust as needed */
    background-size: cover;
    background-position: center;
  }

  .projectInfo h2 {
    font-size: 1.2rem; /* Adjust font size for phone-sized screens */
  }
}

/* Media query for even smaller screens (like palms) */
@media screen and (max-width: $on-palm) {
  .projectImage {
    height: auto; /* Adjust height for phone-sized screens */
    padding-top: 56.25%; /* 16:9 aspect ratio, adjust as needed */
    background-size: cover;
    background-position: center;
  }

  .projectInfo h2 {
    font-size: 1.3rem; /* Adjust font size for palm-sized screens */
  }
}


.projectTileLink {
  text-decoration: none; /* Remove the default underline from the anchor tag */
  color: inherit; /* Ensure text color remains consistent when hovering */
  display: block; /* Make sure it behaves as a block for layout purposes */
}

.projectImage {
  transition: transform 0.3s ease; /* This ensures the animation is smooth */
}

.projectTileLink:hover .projectImage {
  transform: scale(1.05); /* The image will enlarge to 105% of its size on hover */
}

