/* Project Page */
.ProjectContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;  // This sets the layout to be two columns
  grid-gap: 2rem;
  margin: 0;
}

.projectTile {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: $projectbox;
  
  @media (prefers-color-scheme: dark) {
    background: $projectbox-dark;
  }
  
  &:hover {
    transform: translateY(-10px);
  }
}

.projectTile a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.projectImage {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.projectInfo {
  padding: 15px;
  color: $light-gray;
  background-color: #f9f9f9; // Adjust this if you have a variable for this color
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: $projectbox-text;
  }
  
  p {
    font-size: 1rem;
  }
}

@include media-query($on-phone) {
  @media screen and (max-width: $on-phone) {
    .projectImage {
      height: 80px;
    }
  
    .projectInfo h2 {
      font-size: 1.2rem;
    }
  }
}

@include media-query($on-palm) {
  @media screen and (max-width: $on-palm) {
    .projectImage {
      height: 100px;
    }
  
    .projectInfo h2 {
      font-size: 1.3rem;
    }
  }
}

.projectTileLink {
  text-decoration: none; /* Remove the default underline from the anchor tag */
  color: inherit; /* Ensure text color remains consistent when hovering */
  display: block; /* Make sure it behaves as a block for layout purposes */
}

.projectImage {
  transition: transform 0.3s ease; /* This ensures the animation is smooth */
}

.projectTileLink:hover .projectImage {
  transform: scale(1.05); /* The image will enlarge to 105% of its size on hover */
}

