<div class="links scroll">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <!-- <a href="{{site.baseurl}}/blog/">Blog</a> -->
        <!-- <a href="{{site.baseurl}}/resume/">Résumé</a> -->
        <a href="{{ site.baseurl }}/Luca_Pantea_CV_2_0.pdf">Résumé</a>
        <div id="theme-switcher" class="theme-switcher">
                <i class="fas fa-sun" id="theme-icon"></i>
        </div>  

        <script>
          const themeSwitcher = document.getElementById('theme-switcher');
          const themeIcon = document.getElementById('theme-icon');
          const body = document.body;

          // Function to toggle the theme
          function toggleTheme() {
            if (body.classList.contains('dark-theme')) {
              body.classList.remove('dark-theme');
              body.classList.add('light-theme');
              localStorage.setItem('theme', 'light'); // Save theme to localStorage
              themeIcon.classList.remove('fa-sun');
              themeIcon.classList.add('fa-moon');
            } else {
              body.classList.remove('light-theme');
              body.classList.add('dark-theme');
              localStorage.setItem('theme', 'dark'); // Save theme to localStorage
              themeIcon.classList.remove('fa-moon');
              themeIcon.classList.add('fa-sun');
            }
          }

          // Function to apply the saved theme or default to light
          function applyTheme() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
              body.classList.add('dark-theme');
              themeIcon.classList.remove('fa-moon');
              themeIcon.classList.add('fa-sun');
            } else {
              // Default to light theme
              body.classList.add('light-theme');
              themeIcon.classList.remove('fa-sun');
              themeIcon.classList.add('fa-moon');
            }
          }

          // Set initial theme based on saved preference or default
          applyTheme();

          // Listener for the theme switcher
          themeSwitcher.addEventListener('click', toggleTheme);
        </script>
              
</div>
